@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*FARVER */

  /* Violet */
  --color-violet-50: #ede6f2;
  --color-violet-100: #dccce6;
  --color-violet-200: #bb9bce;
  --color-violet-300: #9c68b6;
  --color-violet-400: #6a457d;
  --color-violet-500: #5a3b6a;
  --color-violet-600: #492e57;
  --color-violet-700: #392345;
  --color-violet-800: #2b1934;
  --color-violet-900: #1b0d21;
  /* Purple */
  --color-purple-50: #ece3f7;
  --color-purple-100: #d8c4ed;
  --color-purple-200: #b689db;
  --color-purple-300: #8e4dbb;
  --color-purple-400: #582d75;
  --color-purple-500: #4b2665;
  --color-purple-600: #3d1d53;
  --color-purple-700: #331745;
  --color-purple-800: #251034;
  --color-purple-900: #1a0926;

  /* Lilac */
  --color-lilac-50: #fdfcfe;
  --color-lilac-100: #f9f5fd;
  --color-lilac-200: #f6edfa;
  --color-lilac-300: #eee4f8;
  --color-lilac-400: #eadef5;
  --color-lilac-500: #cfabe6;
  --color-lilac-600: #b577d8;
  --color-lilac-700: #924ab7;
  --color-lilac-800: #63307a;
  --color-lilac-900: #371846;

  /* Yellow */
  --color-yellow-50: #fff9ee;
  --color-yellow-100: #fff3dd;
  --color-yellow-200: #ffe5b4;
  --color-yellow-300: #ffd980;
  --color-yellow-400: #ffcc01;
  --color-yellow-500: #d1a600;
  --color-yellow-600: #a48200;
  --color-yellow-700: #7a6002;
  --color-yellow-800: #524000;
  --color-yellow-900: #2e2300;

  /*Typografi */
  --font-heading: "Mulish", sans-serif;
  --font-body: "Dm Sans", sans-serif;

  --text-mobile-h1: 40px;
  --text-mobile-h2: 32px;
  --text-mobile-h3: 28px;
  --text-mobile-h4: 24px;
  --text-mobile-h5: 20px;
  --text-mobile-p: 16px;

  --text-computer-h1: 64px;
  --text-computer-h2: 60px;
  --text-computer-h3: 40px;
  --text-computer-h4: 32px;
  --text-computer-h5: 22px;
  --text-computer-p: 20px;

  /* CTA */

  /* Desktop */
  --text-cta-large: 20px;

  /* Mobile */
  --text-cta-small: 16px;

  /* Tokens */

  /* Cards */

  --color-cards-text-primary: var(--color-lilac-100);
  --color-cards-text-secondary: var(--color-violet-700);

  --color-cards-bg-primary: var(--color-violet-400);
  --color-cards-bg-secondary: var(--color-violet-200);

  /* Main */
  --color-main-bg-body: var(--color-lilac-900);
  --color-main-bg-nav: var(--color-lilac-200);
  --color-main-bg-footer: var(--color-lilac-200);

  --color-main-text-primary: var(--color-lilac-100);
  --color-main-text-secondary: var(--color-lilac-800);

  /* Tags */

  --color-tags-bg: var(--color-lilac-400);
  --color-tags-border: var(--color-lilac-800);

  /* Buttons */

  --color-button-primary-disabled: var(--color-yellow-400);
  --color-button-primary-hover: var(--color-yellow-300);

  --color-button-secondary-disabled: var(--color-purple-400);
  --color-button-secondary-hover: var(--color-purple-300);

  --color-button-third-disabled: var(--color-purple-400);
  --color-button-third-hover: var(--color-purple-300);

  --color-button-quaternary-disabled: var(--color-lilac-200);
  --color-button-quaternary-hover: var(--color-lilac-500);
}

@layer base {
}

@layer components {
}

@layer utilities {
}
