---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="p-10">
    <Card url="#" cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" <!-- sæt din egen bue-fil her --> /> </Card>
  </section></MainLayout
>
