---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Faqcard from "../components/Faqcard.astro";
---

<MainLayout title="BørneBiffen">
  <main class="">
    <!-- HERO SECTION -->
    <section class="relative -mt-30">
      <div class="relative flex flex-col overflow-hidden">
        <!-- OVERLAY över ALLT (utom login som vi lyfter över) -->
        <div class="absolute inset-0 bg-black/40 pointer-events-none"></div>

        <!-- MOVIE ROW 1 -->
        <img src="/row1.png" alt="" class="h-40 mb-5 intersect:animate-fade-left intersect:duration-[6000ms]" />

        <!-- MOVIE ROW 2 WITH LOG IN -->
        <div class="h-95 object-fill mb-5 intersect:animate-fade-right intersect:duration-[6000ms]">
          <div class="lg:-ml-155 -ml-165 flex gap-5">
            <!-- IMG 1 ROW 2 -->
            <img class="h-95" src="/row2_1.png" alt="" />

            <!-- LOGIN ROW 2  -->
            <div class="bg-cards-bg-primary rounded-3xl p-10 flex flex-col justify-center items-start w-160 h-95">
              <Heading font=" heading" color="light" size="large" htmlheading="h1"> Log ind & se alle film </Heading>

              <div class="lg:w-140 w-90">
                <Text teksttype="hero" color="light"> Log ind og få adgang til et univers af nøje udvalgte kortfilm, skabt til at begejstre og berige de yngste. </Text>
              </div>

              <form class="lg:w-130 w-87 mt-5 text-main-text-primary">
                <input type="email" id="email" name="email" placeholder="Udfyld din e-mail" required class="w-full rounded-3xl border-2 border-button-quaternary-disabled bg-main-bg-body/20 px-4 py-3 text-main-text-primary" />
              </form>

              <div class="flex gap-3 mt-5">
                <Button variant="primary" size="large" shadow="noeffect" class="flex items-center gap-2">
                  <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"></path>
                  </svg>
                  Log ind
                </Button>
                <Button variant="quaternary" size="large" shadow="effect" class="flex items-center gap-2"> Download appen </Button>
              </div>
            </div>

            <!-- MOVIE 2 ROW 2 -->
            <img class="h-95 object-cover" src="/row2_2.png" alt="" />
            <!-- MOVIE 3 ROW 2 -->
            <img class="h-95 object-cover" src="/row2_1.png" alt="" />
          </div>
        </div>

        <!-- ROW 3 -->
        <img src="/row3.png" alt="" class="h-40 intersect:animate-fade-left intersect:duration-[6000ms]" />
      </div>
    </section>

    <img class="relative z-50 lg:-mt-20 -mt-10" src="/divider2.svg" alt="divider" />

    <!-- TOP FILM SECTION -->
    <section class="grid grid-cols-1 lg:grid-cols-4 gap-10 container mx-auto p-5">
      <div class="pr-2">
        <Heading htmlheading="h2" size="large" font="heading" color="light" weight="bold">Topfilm</Heading>
        <Text teksttype="brødtekst" weight="regular" font="body">De mest populære børnefilm lige nu — håndplukket for at underholde, inspirere og skabe gode filmoplevelser for hele familien. </Text>
      </div>
      <div class="w-full">
        <Card url="#" cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
      </div>
      <div class="w-full">
        <Card url="#" cardimage="/image-1.webp" cardimagealt="Rita & krokodille" cardtitle="Rita & Krokodille - Skovturen" cardtid="5 min" cardbue="/buelillacard.png" />
      </div>
      <div class="w-full">
        <Card url="#" cardimage="/image-2.webp" cardimagealt="Lille fugl og egern" cardtitle="Den lille fugl og egernet" cardtid="4 min" cardbue="/buelillacard.png" />
      </div>
    </section>
    <section class="container mx-auto p-5">
      <div class="bg-cards-bg-secondary rounded-3xl mt-20 p-10 w-full grid grid-cols-1 lg:grid-cols-2 gap-10 lg:mt-30">
        <!-- Tekst -->
        <div class="mb-0 lg:mb-10">
          <div class="mb-4">
            <Heading htmlheading="h2" size="large" color="dark">
              Håndplukkede<br />børnefilm
            </Heading>
          </div>

          <Text skrifttype="brødtekst" color="dark"
            >Alle filmene er valgt ud fra et princip om, at de skal være i øjenhøjde med børnene og passe til deres alder. Filmene må også gerne give det velkendte et twist og vække til eftertanke. Også hos resten af familien. <br />
            <br /> Filmene er af høj kunstnerisk kvalitet og kommer fra Danmark og mange andre lande, som fx Tyskland, Sverige, Slovakiet, Frankrig, Spanien, Australien og Sydkorea. <br />
            <br />Filmene er nøje udvalgt over en årrække af Det Danske Filminstitut og rummer en række forskellige stilarter, udtryk og fortællinger. Ligesom der er lagt vægt på, at den kulturelle mangfoldighed er i centrum.</Text
          >
        </div>

        <!-- Billede -->
        <div class="flex justify-center items-center mb-10">
          <img src="/group.png" alt="Børnefilm figurer" class="max-w-lg w-full object-contain" />
        </div>
      </div>
    </section>

    <section class="container mx-auto p-5 text-main-text-primary mt-32">
      <div class="mb-10">
        <Heading htmlheading="h2" size="large" font="heading" weight="bold"> Ofte stillede spørgsmål </Heading>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
        <Faqcard
          title="Hvad er Børnebiffen?"
          content="Børnebiffen.dk er et bibliotekstilbud skræddersyet til de 3-7 årige og deres forældre. Tjenesten er udviklet og drives i samarbejde mellem DBC Digital og Det Danske Filminstitut og er en del af det samlede Børnebiffen-univers, som formidler kortfilm til børn både i biografen, i børnehaven og derhjemme. "
          wave="/faqbue2.svg"
        />
        <Faqcard
          title="Hvor ofte kommer der nye film?"
          content="Børnebiffen.dk rummer næsten 400 titler og vil løbende få tilføjet nye kortfilm. Vi tilføjer som regel nye kortfilm én gang om måneden, så der altid er noget nyt at opdage."
          wave="/faqbue2.svg"
        />
        <Faqcard
          title="Koster det noget?"
          content="Nej, det koster ingenting at se film på børnebiffen. Det er gratis for alle, men for at se film skal man logge ind med sit bibliotekslogin. Der er ingen begrænsninger på, hvor mange film man kan se på Børnebiffen.dk."
          wave="/faqbue2.svg"
        />
        <Faqcard
          title="Er filmene sikre og godkendt til børn?"
          content="Alle film er nøje udvalgt og gennemgået af fagfolk, så indholdet er trygt, alderssvarende og helt uden reklamer. Børn kan roligt se med, og forældre kan føle sig trygge."
          wave="/faqbue2.svg"
        />
      </div>
    </section>
  </main>
</MainLayout>
