---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Carousel from "../components/Carousel.astro";
import Card from "../components/Card.astro";
import Tag from "../components/Tag.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";

const nextCards = [
  { image: "/sevidere1.webp", title: "Rita & Krokodille - Forår", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/sevidere2.webp", title: "Rita & Krokodille - Blåbær", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/sevidere3.webp", title: "Rita & Krokodille - Snevejr", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/sevidere4.webp", title: "Rita & Krokodille - Camping", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/sevidere5.webp", title: "Rita & Krokodille - Nat", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/sevidere6.webp", title: "Rita & Krokodille - Fisketuren", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/sevidere7.webp", title: "Rita & Krokodille - I biografen", tid: "5 min", bue: "/buelillacard.png" },
];

const similarCards = [
  { image: "/image-40.webp", title: "Mis med de blå øjne", tid: "11 min", bue: "/buelillacard.png" },
  { image: "/image-39.webp", title: "Cirkeline - Storbyens mus", tid: "62 min", bue: "/buelillacard.png" },
  { image: "/image-13.webp", title: "Pipungerne - Hittebarnet", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/image-41.webp", title: "Cirkeline - Klodsmus", tid: "13 min", bue: "/buelillacard.png" },
];

const similar2Cards = [
  { image: "/image-3.webp", title: "Den sidste efterårsdag", tid: "8 min", bue: "/buelillacard.png" },
  { image: "/image-4.webp", title: "Vitello tigger en masse slik", tid: "7 min", bue: "/buelillacard.png" },
  { image: "/image-5.webp", title: "Lygtefisk", tid: "3 min", bue: "/buelillacard.png" },
  { image: "/image-11.webp", title: "Hvem er vred?", tid: "4 min", bue: "/buelillacard.png" },
];
---

<MainLayout title="BørneBiffen">
  <!-- HERO -->

  <section class="relative w-full h-screen lg:h-170 overflow-hidden -mt-30 z-1">
    <!-- Själva hero-bilden -->
    <img src="/singlehero.png" alt="" class="absolute inset-0 w-full h-full object-cover" />

    <!-- Mörk overlay så texten syns bättre -->
    <div class="absolute inset-0 bg-gradient-to-r from-yellow-500 via-yellow-400/40 to-transparent"></div>

    <!-- Content ovanpå bilden -->
    <div class="relative z-10 max-w-screen-xl mx-auto h-full flex flex-col justify-center px-10 lg:px-15 lg:mt-0 mt-20">
      <!-- DIN SEktion Här → Jag bäddar in din exakta kod -->
      <Heading font="singlelogo" color="dark" size="xlarge" htmlheading="h1"> Rita & Krokodille <br /> - Skovturen </Heading>

      <div class="flex gap-2 mt-7">
        <Tag variant="primary" shadow="effect">5 min</Tag>
        <Tag variant="primary" shadow="effect">Rita & Krokodille</Tag>
        <Tag variant="primary" shadow="effect">Tegneserie</Tag>
      </div>

      <div class="flex gap-5 mt-7">
        <Button variant="secondary" size="large" shadow="effect" class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z"></path>
          </svg>
        </Button>

        <Button variant="third" size="large" shadow="effect" class="flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"></path>
          </svg>
          Favorit
        </Button>
      </div>
    </div>
  </section>
  <img class="relative z-50 lg:-mt-20 -mt-10" src="/divider2.svg" alt="divider" />

  <section class="lg:mx-20 mx-10 lg:pt-15 lg:mt-0 mt-15 lg:pb-20 p-10 bg-cards-bg-secondary rounded-4xl">
    <Heading color="dark" size="medium" htmlheading="h3">Rita & Krokodille - Skovturen</Heading>
    <div class="lg:grid lg:grid-cols-2 lg:gap-20">
      <div class="mt-7">
        <div class="mb-5 flex flex-wrap gap-2">
          <Tag variant="secondary" shadow="effect">Fantasivenner</Tag>
          <Tag variant="secondary" shadow="effect">Venskab</Tag>
          <Tag variant="secondary" shadow="effect">Skovture</Tag>
          <Tag variant="secondary" shadow="effect">Fare vild</Tag>
        </div>
        <Text color="dark"
          >Vennerne skal ud og samle kastanjer i skoven. Rita formaner Krokodille at blive på stien, så han ikke farer vild. Men da hun ser et helt tæppe af glitrende kastajner glemmer hun alt, hvad hun har sagt. I jagten på de flotte kastajner
          glemmer hun alt om stien og farer vild. Krokodille hjælper hende at finde tilbage.
        </Text>
      </div>

      <div class="grid grid-cols-2 mt-7">
        <div class="flex flex-col justify-between gap-5">
          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Varighed</Heading>
            <Text color="dark">8 min </Text>
          </div>

          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Instruktør</Heading>
            <Text color="dark">Siri Melchoir</Text>
          </div>

          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Udgivelse</Heading>
            <Text color="dark">2013</Text>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Land</Heading>
            <Text color="dark">Danmark</Text>
          </div>

          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Tilladt for alle</Heading>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="lg:px-20 px-5 mt-24">
    <div>
      <Heading size="large" htmlheading="h2">Flere episoder</Heading>
      <Carousel cards={nextCards} />
    </div>
  </section>

  <section class="lg:px-20 px-5 mt-15">
    <Heading size="large" htmlheading="h2">Minder om</Heading>
    <div>
      <div class="hidden lg:grid lg:grid-cols-4 gap-10 mt-10">
        <Card cardimage="/image-40.webp" cardimagealt="By om natten" cardtitle="Mis med de blå øjne" cardtid="11 min" cardbue="/buelillacard.png" />
        <Card cardimage="/image-39.webp" cardimagealt="By om natten" cardtitle="Cirkeline - Storbyens mus" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/image-13.webp" cardimagealt="By om natten" cardtitle="Pipungerne - Hittebarnet" cardtid="5 min" cardbue="/buelillacard.png" />
        <Card cardimage="/image-41.webp" cardimagealt="By om natten" cardtitle="Cirkeline - Klodsmus" cardtid="13 min" cardbue="/buelillacard.png" />
      </div>

      <div class="block lg:hidden">
        <Carousel cards={similarCards} />
      </div>
    </div>

    <div class="mt-15">
      <div class="hidden lg:grid lg:grid-cols-4 gap-10">
        <Card cardimage="/image-3.webp" cardimagealt="By om natten" cardtitle="Den sidste efterårsdag" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/image-4.webp" cardimagealt="By om natten" cardtitle="Vitello tigger en masse slik" cardtid="7 min" cardbue="/buelillacard.png" />
        <Card cardimage="/image-5.webp" cardimagealt="By om natten" cardtitle="Lygtefisk" cardtid="3 min" cardbue="/buelillacard.png" />
        <Card cardimage="/image-11.webp" cardimagealt="By om natten" cardtitle="Hvem er vred?" cardtid="4 min" cardbue="/buelillacard.png" />
      </div>

      <div class="block lg:hidden">
        <Carousel cards={similar2Cards} />
      </div>
    </div>
  </section>
</MainLayout>
