---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Carousel from "../components/Carousel.astro";
import Card from "../components/Card.astro";
import Tag from "../components/Tag.astro";
import Text from "../components/Text.astro";

const continueCards = [
  { image: "/lillefro.webp", title: "Lille frø", tid: "8 min", bue: "/buelillacard.png" },
  { image: "/lillefro.webp", title: "Lille frø", tid: "5 min", bue: "/buelillacard.png" },
  { image: "/lillefro.webp", title: "Lille frø", tid: "7 min", bue: "/buelillacard.png" },
  { image: "/lillefro.webp", title: "Lille frø", tid: "6 min", bue: "/buelillacard.png" },
  { image: "/lillefro.webp", title: "Lille frø", tid: "4 min", bue: "/buelillacard.png" },
  { image: "/lillefro.webp", title: "Lille frø", tid: "6 min", bue: "/buelillacard.png" },
  { image: "/lillefro.webp", title: "Lille frø", tid: "4 min", bue: "/buelillacard.png" },
];
---

<MainLayout title="BørneBiffen">
  <section class="lg:mx-20 mx-10 mt-15 lg:pt-15 lg:pb-20 p-10 bg-cards-bg-secondary rounded-4xl">
    <Heading color="dark" size="medium" htmlheading="h3">Rita & Krokodille - Skovturen</Heading>
    <div class="lg:grid lg:grid-cols-2 lg:gap-20">
      <div class="mt-7">
        <div class="mb-5 flex flex-wrap gap-2">
          <Tag variant="secondary" shadow="effect">Fantasivenner</Tag>
          <Tag variant="secondary" shadow="effect">Venskab</Tag>
          <Tag variant="secondary" shadow="effect">Skovture</Tag>
          <Tag variant="secondary" shadow="effect">Fare vild</Tag>
        </div>
        <Text color="dark"
          >Vennerne skal ud og samle kastanjer i skoven. Rita formaner Krokodille at blive på stien, så han ikke farer vild. Men da hun ser et helt tæppe af glitrende kastajner glemmer hun alt, hvad hun har sagt. I jagten på de flotte kastajner
          glemmer hun alt om stien og farer vild. Krokodille hjælper hende at finde tilbage.
        </Text>
      </div>

      <div class="grid grid-cols-2 mt-7">
        <div class="flex flex-col justify-between gap-5">
          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Varighed</Heading>
            <Text color="dark">8 min </Text>
          </div>

          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Instruktør</Heading>
            <Text color="dark">Siri Melchoir</Text>
          </div>

          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Udgivelse</Heading>
            <Text color="dark">2013</Text>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Land</Heading>
            <Text color="dark">Danmark</Text>
          </div>

          <div>
            <Heading color="dark" size="xsmall" htmlheading="h5">Tilladt for alle</Heading>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="lg:px-15 px-5 mt-24">
    <div>
      <Heading size="large" htmlheading="h2">Flere episoder</Heading>
      <Carousel cards={continueCards} />
    </div>
  </section>

  <section class="lg:px-15 px-5 mt-15">
    <Heading size="large" htmlheading="h2">Minder om</Heading>
    <div>
      <div class="hidden lg:grid lg:grid-cols-4 gap-5 mt-10">
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
      </div>

      <div class="block lg:hidden">
        <Carousel cards={continueCards} />
      </div>
    </div>

    <div class="mt-15">
      <div class="hidden lg:grid lg:grid-cols-4 gap-5">
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
        <Card cardimage="/lillefro.webp" cardimagealt="By om natten" cardtitle="Lille frø" cardtid="8 min" cardbue="/buelillacard.png" />
      </div>

      <div class="block lg:hidden">
        <Carousel cards={continueCards} />
      </div>
    </div>
  </section>
</MainLayout>
