---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const {
  title = "Spørgsmål",
  content = "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  wave = "",
} = Astro.props;
---

<div class="rounded-3xl overflow-hidden shadow-lg bg-cards-bg-primary">
  <!-- Top Section -->
  <div class="px-10 py-7 bg-cards-bg-secondary main-text-secondary">
    <Heading htmlheading="h4" size="small" color="dark">
      {title}
    </Heading>
  </div>

  <!-- Wave Image -->
  <img src={wave} alt="wave" />

  <!-- Bottom Section -->
  <div class="bg-cards-bg-primary text-main-text-primary p-10 min-h-70">
    <Text>
      {content}
    </Text>
  </div>
</div>
