---
import Heading from "./Heading.astro";
import Link from "./Link.astro";
---

<footer class="bg-main-bg-footer text-main-text-secondary">
  <div class="container mx-auto p-10 -mt-2">
    <section class="lg:flex justify-between">
      <section class="lg:flex gap-18">
        <article class="mt-10">
          <Heading htmlheading="h5" size="xsmall">Om os</Heading>
          <ul class="mt-3">
            <li><Link href="#">Om Børnebiffen</Link></li>
            <li class="mt-2"><Link href="#">Tilgængelighedserklæring</Link></li>
            <li class="mt-2"><Link href="#">Kontakt os</Link></li>
          </ul>
        </article>

        <article class="mt-10">
          <Heading htmlheading="h5" size="xsmall">Legals</Heading>
          <ul class="mt-3">
            <li><Link href="#">Cookies</Link></li>
            <li class="mt-2"><Link href="#">Privatlivspolitik</Link></li>
            <li class="mt-2"><Link href="#">DBC DIGITAL A/S <br />Tempovej 7-11 <br /> 2750 Ballerup</Link></li>
          </ul>
        </article>

        <article class="mt-10">
          <Heading htmlheading="h5" size="xsmall">Socials</Heading>
          <ul class="mt-3">
            <li><Link href="#">Cineamateket</Link></li>
            <li class="mt-2"><Link href="#">Instagram</Link></li>
          </ul>
        </article>
      </section>
      <section>
        <article class="lg:mt-10 mt-20">
          <img src="/logo.svg" alt="Børnebiffen logo" />
          <img class="mt-5" src="/filmstriben.svg" alt="Filmstriben logo" />
          <img class="mt-5" src="/group.png" alt="Gruppe af figurer" />
        </article>
      </section>
    </section>

    <p>&copy; 2025 Børnebiffen</p>
  </div>
</footer>
