---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Button from "./Button.astro";
import Heading from "./Heading.astro";
---

<header x-data="{ showmenu: false }" class="mt-7 max-w-screen lg:mx-20 mx-5">
  <div id="navbar" class="container mx-auto px-14 py-6 flex flex-row justify-between items-center bg-main-bg-nav rounded-4xl">
    <div id="logo" class="w-40">
      <a href="" class=""><img src="/logo.svg" alt="Børnebiffen Logo" /> </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row items-center gap-4 text-main-text-secondary">
        <li><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "italic font-bold" : "italic"}>Komponentbibliotek</a></li>

        <li>
          <a href="#">
            <span class="">
              <Button variant="primary" size="small" shadow="noeffect"
                ><svg class="w-6 h-6 text-main-text-secondary rounded-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"></path>
                </svg>
              </Button>
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="">
              <Button variant="secondary" size="small" shadow="noeffect">Download appen</Button>
            </span>
          </a>
        </li>

        <Button variant="primary" size="small" shadow="noeffect" class="flex items-center gap-2">
          <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"></path>
          </svg>
          Log ind
        </Button>
      </ul>
    </nav>

    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"
      ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="flex flex-col items-center gap-4 rounded-b-4xl text-main-text-secondary -mt-6.5 py-15 bg-main-bg-nav">
      <li><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "italic font-bold" : "italic"}>Komponentbibliotek</a></li>

      <li>
        <a href="#">
          <span class="">
            <Button variant="primary" size="small" shadow="noeffect"
              ><svg class="w-6 h-6 text-main-text-secondary rounded-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"></path>
              </svg>
            </Button>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="">
            <Button variant="secondary" size="small" shadow="noeffect">Download appen</Button>
          </span>
        </a>
      </li>

      <Button variant="primary" size="small" shadow="noeffect" class="flex items-center gap-2">
        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"></path>
        </svg>
        Log ind
      </Button>
    </ul>
  </nav>
</header>
