---
import Heading from "./Heading.astro";
import Infocard from "./infocard.astro";
---

<section class="container mx-auto p-5">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-10">
    <Infocard
      title="Børnesikker hjemmeside"
      content="Her kan børn trygt gå på opdagelse. Alt indhold er nøje udvalgt, reklamefrit og tilpasset deres alder, så de får en sikker og god oplevelse online."
      image="/info1.svg"
    />
    <Infocard
      title="Download appen"
      content="Få Børnebiffen på både mobil og tablet. Med appen kan børn nemt og sikkert se film, uanset hvor I er. Download og gå på opdagelse i deres favoritunivers."
      image="/info2.svg"
    />
    <Infocard
      title="Brug dit bibliotekslogin"
      content="Via dit bibliotekslogin kan I nemt streame flere hundrede håndplukkede kortfilm – helt gratis og sikkert. Et trygt og kreativt univers for familien."
      image="/info3.svg"
    />
  </div>
</section>
