---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", weight = "regular", font = "body", color = "light" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  brødtekst: "lg:text-computer-p text-mobile-p",
  hero: "lg:text-computer-hero text-mobile-hero",
};

const stylingClasses = {
  regular: "font-regular",
};

const fontClasses = {
  body: "font-body",
};

const colorClasses = {
  light: "text-[var(--color-cards-text-primary)]",
  dark: "text-[var(--color-cards-text-secondary)]",
};
---

<p class:list={[sizeClasses[teksttype], stylingClasses[weight], fontClasses[font], colorClasses[color]]}><slot /></p>
